html,
body {
  background-color: black;
  min-height: 100%;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.full-screen {
  min-height: 100%;
  height: 100vh;
}

/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/

nav {
  background-color: #090015;
  padding: 5% 2%;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: grey !important;
}

.nav-link:hover {
  color: white !important;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  transition: transform 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Top
--------------------------------------------------------------*/

.top {
  background-size: contain;
  background-color: #090015;
  padding-top: 10%;
}

.top h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  word-spacing: 100vw;
}

.top img {
  max-width: 100%;
  margin: auto 0;
  animation: pulse 2s;
  animation-iteration-count: 3;
}

.scroll-down {
  position: relative;
  width: 48px;
  height: 48px;
  left: 49%;
  bottom: 0%;
}

.chevron {
  position: absolute;
  width: 56px;
  height: 16px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(60px);
  }
  67% {
    opacity: 1;
    transform: translateY(80px);
  }
  100% {
    opacity: 0;
    transform: translateY(110px) scale3d(0.5, 0.5, 0.5);
  }
}

/*--------------------------------------------------------------
# 
--------------------------------------------------------------*/
